# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpacePark.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Skolarbete\Rider Projekt\spaceparkv2-buddygroup6-renegades\Source\.idea\.idea.SpacePark\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
